*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: auto;
    margin-top: 90px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000324;
    display: flex;
    height: 90px;
    z-index: 5;
}

#logoImg{
    margin-left: 20px;
    flex: 1;
    padding-top: 5px;
}

#nav-element{
    list-style: none;
    display: flex;
    margin-right: 40px;
}

#nav-element li{
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13.5px;
    margin-top: 40px;
}

#nav-element li a{
    text-decoration: none;
    color: #ffffff;
}

#nav-element li a:hover{
    color: #fbff23;
    text-decoration: underline;
    transition: all 1s;
}

#technologies{
    display: flex;
}

#technologies div{
    margin-left: 50px;
}

.mid-logo{
    padding-top: 25px;
}

#content-make{
    display: flex;
    /* margin: auto; */
    margin-top: 100px;
}

#content-info{
    margin-left: 70px;
    padding: 0 50px 0 50px;
}

#content-info h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#content-info p{
    font-family: Arial, Helvetica, sans-serif;
}

#content-image{
    /* border: 1px solid greenyellow; */
}

#dev-image{
    /* width: 500px; */
}

footer{
    padding: 20px;
    background: #000324
}

.footerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentFooterImg{
    width: 20%;
}

.contentFooterImg img{
    width: 85%;
}

.ContentFooterText{
    width: 25%;
    color: #ffffff;
}

.contentFooterNetworks{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.contentFooterNetworks a{
    width: 15%;
    margin-right: 10%;
}

.contentFooterNetworks a img{
    width: 100%;
    color: #fff;
    border-radius: 7%;
}

hr{
    background: #ffffff;
}

.autor{
    margin-top: 5px;
    color: #ffffff;
    text-align: center;
}