*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: auto;
    margin-top: 90px;
}

/* -------------- */
/* Header */
/* -------------- */

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000324;
    display: flex;
    height: 90px;
    z-index: 5;
}

#logoImg{
    margin-left: 50px;
    flex: 1;
    padding-top: 5px;
}

#nav-element{
    list-style: none;
    display: flex;
    margin-right: 150px;
}

#nav-element li{
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13.5px;
    margin-top: 40px;
}

#nav-element li a{
    text-decoration: none;
    color: #ffffff;
}

#nav-element li a:hover{
    color: #fbff23;
    text-decoration: underline;
    transition: all 1s;
}

#all-menu{
}

#menu-content{
    padding-left: 120px;
    display: none;
}

#menu-content a{
}

#menu-content a img{
}

#elements-menu{
    display: none;
    background-color: #121212;
    height: 870px;
}

#elements-menu ul{
    list-style: none;
    width: 200px;
    margin-top: 14px;
}

#elements-menu ul li{
    text-align: end;
    padding-top: 75px;
    margin-right: 25px;
}

#elements-menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#elements-menu ul li a:hover{
    text-decoration: underline;
}

/* -------------- */
/* Main Content */
/* -------------- */
#techs ul{
    display: flex;
    list-style: none;
    height: 118px;
    width: 90%;
    margin: auto;
}

#techs ul li{
    margin: auto;
}

#techs ul li img{
    width: 100px;
}

#node{
    margin: 27px 0;
}

#angular{
    margin: 7px 0;
}

#javascript{
    margin: 7px 0;
}

#php{
    margin: 30px 0;
}

#laravel{
    margin: 23px 0;
}

#mysql{
    margin: 27px 0;
}

#express{
    margin: 7px 0;
}

#division{
    margin: auto;
    width: 90%;
    margin-top: 40px;
}

#content-make{
    display: flex;
    margin-top: 100px;
}

#content-info{
    margin-left: 70px;
    padding: 0 50px 0 50px;
}

#content-info h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#content-info p{
    font-family: Arial, Helvetica, sans-serif;
}

.projects-button{
    background: green;
    height: 60px;
    width: 13%;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -200px;
    margin-left: 450px;
}

.projects-button p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}
/* -------------- */
/* Footer */
/* -------------- */

footer{
    background: #000324;
}

.footerDiv{
    display: flex;
    width: 90%;
    margin: auto;
}

.contentFooterImg{
    flex: 1;
}

.contentFooterImg img{
    width: 200px;
    margin: 20px 0 0 50px;
}

.ContentFooterText{
    /* border: 1px solid red; */
    margin: 20px 0 0 50px;
    padding: 20px 0;
    color: #ffffff;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    flex: 2;
}

.ContentFooterText #we{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.ContentFooterText #info-we{
    font-family: Arial, Helvetica, sans-serif;
}

.contentFooterNetworks{
    /* border: 2px yellow solid; */
    display: flex;
    margin: 20px 0 0 50px;
    padding: 40px 0;
    flex: 1;
    justify-content: end;
}

.contentFooterNetworks a img{
    width: 50px;
    margin: 0 0 0 30px;
}

.autor{
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
}
/* -------------- */
/* Media Queries */
/* -------------- */

@media(max-width: 1550px){
    #techs ul li img{
        width: 85px;
    }
}

@media(max-width: 1400px){
    #techs ul li img{
        width: 75px;
    }
}

@media(max-width: 1330px){
    .projects-button{
        margin-top: -150px;
    }
}

@media(max-width: 1330px){
    #dev-image{
        width: 700px;
    }
}

@media(max-width: 1280px){
    .projects-button{
        margin-top: -100px;
    }
}

@media(max-width: 1210px){
    #dev-image{
        width: 600px;
        margin-top: 30px;
    }
}
@media(max-width: 1170px){
    #techs ul li img{
        width: 65px;
    }
}

@media(max-width: 1160px){
    .projects-button{
        margin-top: -50px;
    }
}

@media(max-width: 1030px){
    #techs ul li img{
        width: 55px;
    }
}

@media(max-width: 1070px){
    #dev-image{
        width: 500px;
    }
    .projects-button p{
        font-size: 14px;
    }
}

@media(max-width: 970px){
    .nav{
        display: none;
    }
    #menu-content{
        display: block;
    }
    #dev-image{
        width: 400px;
    }
    #content-info p{
        font-size: 14px;
    }
    .contentFooterImg{
        margin-top: 20px;
    }
    @media(max-width: 1280px){
        .projects-button{
            margin-top: -20px;
        }
    }

}

@media(max-width: 870px){
    #content-make{
        display: block;
    }
    #content-image{
        width: 50%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .projects-button{
        font-size: 12px;
        margin-left: 360px;
    }
    .projects-button p{
        font-size: 12px;
    }
}

@media(max-width: 800px){
    .footerDiv{
        display: block;
    }
    .contentFooterImg{
        width: 300px;
        margin: auto;
    }
    .ContentFooterText{
        width: 300px;
        margin: auto;
    }
    .contentFooterNetworks{
        width: 300px;
        margin: auto;
        justify-content: center;
    }
    #dev-image{
        width: 250px;
    }
    #techs ul li img{
        width: 50px;
    }
    .projects-button{
        margin-left: 275px;
    }
}

@media(max-width: 715px){
    #techs ul li img{
        width: 40px;
    }
}

@media(max-width: 670px){
    .projects-button{
        margin-left: 245px;
    }
}

@media(max-width: 645px){
    .projects-button p{
        padding: 15 5px 0 5px;
    }
}

@media(max-width: 694px){
    .projects-button p{
        padding: 15 5px 0 5px;
    }
}

@media(max-width: 576px){
    .projects-button{
        margin-left: 225px;
    }
    .projects-button p{
        padding-top: 15px;
    }
}

@media(max-width: 530px){
    #techs ul li img{
        width: 35px;
    }

    @media(max-width: 530px){
        .projects-button{
            margin-left: 200px;
        }
    }
}

/* Content of projects */
.title-of-project{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.title-of-project h3{
    margin-top: 60px;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4%;
}
.box-content-project{
    width: 20%;
    padding: 1%;
    text-align: center;
}
.box-content-project img{
    width: 100%;
}

.title-of-projects{
    font-weight: bold;
    font-size: larger;
}

.text-of-projects{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width:820px){
    .box-projects{
        flex-wrap: wrap;
    }

    .box-content-project{
        width: 29%;
    }

    .title-of-projects{
        font-size: 27px;
    }
}

@media only screen and (max-width: 480px){
    .box-projects{
        flex-wrap: wrap;
    }

    .box-content-project{
        width: 40%;
    }

    .title-of-projects{
        font-size: 40px;
    }
}